/* Cuerpo de la pagina */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 100%;
}




/* Cabecera de la pagina */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25px;
  background-color: #f9f9f9;
  padding: 15px;


}



a { 
  text-decoration: none;
  color: #000000;
}

body {
  /* font-family: 'Inter', sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.checkin-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #333;
}

.formulario .campo {
  margin-bottom: 24px;
  text-align: left;
}

.campo label {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
}

.campo input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  background-color: transparent;
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icono img {
  width: 20px;
  height: 20px;
}

.campo small {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: #555;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}

.btn {
  padding: 10px 24px;
  font-size: 15px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.btn-outline {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.btn-primary {
  background-color: black;
  color: white;
  border: 2px solid black;
}
